.institution-logos ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  
  .institution-logos ul li {
    display: inline-flex;
    align-items: center;
    margin-right: 1rem;
  }